{% extends 'layout.html' %}

{% block content %}

{% load static %}
<!-- Hero Section -->
<header>
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-md-8 col-sm-8 col-lg-6">
			<img src="{% static 'portfolio/amvpro.jpg' %}" class="d-block mx-md-auto img-fluid" alt="Hero section" loading="lazy"/>
		</div>
		<div class="col-lg-6">
			<h1 class="display-5 fw-bold lh-1 mb-3">Alexander Morales Villatoro</h1>
			<p class="lead">Software engineer with over 20 years of experience in infrastructure engineering and IT team management. Used to work with Infrastructure as Code, Agile methodologies, change management and business transformation systems. Get used to handling Ruby, Python and Bash Scripting based code, Linux based Infrastructure on Bare Metal Service Providers such as VMWare and Proxmox, as well as Cloud Providers such as GCP and AWS.</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<a href="{% static 'portfolio/CV_AMV.zip'%}" class="btn btn-primary" role="button" aria-pressed="false">Download my resume</a>
			</div>
		</div>
	</div>
</header>
<!-- Portfolio Section -->
<div class="row my-4 text-justify">

	<h3>Experience</h3>
	<p class="lead">Over the years I has been working on several projects, including Management and Software Development, below you may find some of the project and the position I was involved on, including but not limiting to: Management Projects, Softwre Engineering Projects and Hobbie related projects</p>
	
	{% for project in projects %}
	<div class="col-md-4">
		<div class="card card-project">
			<img src="{{ project.image.url }}" class="card-img-top" />

			<div class="card-body">

				<h2>{{ project.title }}</h2>
				<p>{{ project.description|linebreaks}}</p>

				{% if project.url %}
				<a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="__blank" rel="noreferrer">See project 
					details</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>


{% endblock %}
