{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-md-center" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="https://github.com/runemalops" target="_blank">Runemalops</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'blog:posts' %}">Blog</a>
				</li>
				<li class="nav-item d-flex align-items-center">
					<a class="btn btn-primary btn-sm" href="{% static 'portfolio/CV_AMV.zip'%}" %}" target="_blank">Download CV</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- Navbar -->